In [14]:
import requests
import pandas as pd

In [15]:
# Load data. 
economic_data = pd.read_excel('data/economics.xlsx')  
economic_data.tail(15)

,observation_date,total_employment,consumer_credit,credit_delinquency_rate,unemployment_rate,federal_funds_rate,consumer_opinion,recession_probability,manufacturers_new_orders_durable_goods,manufacturer_new_orders_consumer_goods,total_vehicle_sales,industrial_production_index
961,2019-02-01,150135.0,4044.20863,2.58,3.8,2.40,100.915890,0.50,249569,44117.0,17.026,109.563
962,2019-03-01,150282.0,4056.36268,2.58,3.8,2.41,101.124530,0.40,253834,44069.0,17.773,109.681
963,2019-04-01,150492.0,4073.71976,2.57,3.6,2.42,101.277637,0.82,246609,42909.0,17.049,108.989
964,2019-05-01,150577.0,4088.27392,2.57,3.6,2.39,101.362245,0.35,240923,43482.0,17.933,109.226
965,2019-06-01,150759.0,4100.06316,2.57,3.7,2.38,101.273418,0.12,245231,44973.0,17.705,109.277
966,2019-07-01,150953.0,4123.07051,2.58,3.7,2.40,101.052260,0.18,250328,45146.0,17.442,109.085
967,2019-08-01,151160.0,4138.55410,2.58,3.7,2.13,100.767348,0.05,250733,44576.0,17.512,109.854
968,2019-09-01,151368.0,4149.32107,2.58,3.5,2.04,100.758927,0.70,247059,43233.0,17.723,109.472
969,2019-10-01,151553.0,4162.72448,2.61,3.6,1.83,100.932910,0.90,247442,42609.0,17.046,109.027
970,2019-11-01,151814.0,4170.13549,2.61,3.5,1.55,101.161057,0.73,239718,42744.0,17.447,110.052
971,2019-12-01,151998.0,4191.13218,2.61,3.5,1.55,101.372000,9.43,246375,42117.0,17.120,109.615
972,2020-01-01,152212.0,4203.19197,NaN,3.6,1.55,101.472892,17.95,246558,41001.0,17.364,109.083
973,2020-02-01,152487.0,4225.52270,NaN,3.5,1.58,101.426515,32.55,249167,42466.0,17.203,109.582
974,2020-03-01,151786.0,NaN,NaN,4.4,0.65,101.208007,100.00,213184,NaN,11.742,103.663
975,2020-04-01,NaN,NaN,NaN,16.1,0.05,NaN,NaN,NaN,NaN,NaN,NaN

In [5]:
# Perform EDA, visualize, etc...

In [6]:
# Deeper analysis, predictions, etc...

In [7]:
# Extra